{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['word'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Word</label>
    <input name="word" id="title"
      value="{{ request.form['word'] or post['word'] }}" required>
    <label for="body">Definition</label>
    <textarea name="definition" id="body">{{ request.form['definition'] or post['definition'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('definitions.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}