@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Bodoni Moda', serif; */
    padding: 1rem;
    background-color: rgb(254, 255, 245);
}

body {
    /* font-family: 'Bodoni Moda', serif; */
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Bodoni Moda', serif; */
    font-family: 'Source Sans Pro', sans-serif;
    color: #111;
    margin: 1rem 0;
  }
  
  a {
    color: #717ce6;
  }
  
  hr {
    border: none;
    border-top: 1px solid #666
  }
  
  nav {
    background: gb(254, 255, 245);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    color: #eb5348;
    text-decoration: none;
    font-size: 2em;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid #666;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    font-size: 2em;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 a {
    color: #3C5C97;
    /* color: #668; */
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
    font-size: 1.7em;
    margin-bottom: 0;
}
  .post > header h1 a:hover {
      text-decoration: underline;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    font-family: 'Bodoni Moda', serif;
    white-space: pre-line;
    font-size: 1.25em;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }